<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension-point id="generator" name="C++ Code Generator" schema="schema/generator.exsd"/>
    <extension
          id="umlrtccnature"
          name="UMLRT CC Project Nature"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="org.eclipse.papyrusrt.codegen.cpp.build.UMLRTCCNature">
          </run>
       </runtime>
       <requires-nature
             id="org.eclipse.cdt.core.ccnature">
       </requires-nature>
    </extension>

</plugin>
